body {
  font-family: 'Nixie One', cursive;
  background-color: #ecf0f1;
}

#banner {
    width:100%;
    background-color: #f05a26;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 10px;
    font-size: 30px;
}

.container {
  text-align: center;
  padding: 15px;
  width: 50%;
}

h2 {
  font-size: 21px;
}

.btn-danger {
  background-color: #f05a26;
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
}

form {
  margin: 20px;
}
