<div class="prompt">
  <h2>Are you a student or a teacher?</h2>

  <button class="btn btn-danger">{{#link-to 'student'}}Student{{/link-to}}</button>
  <button class="btn btn-danger">{{#link-to 'teacher'}}Teacher{{/link-to}}</button>
</div>
