{{#each model as |ticket|}}

    <div class="ticket">
      <h3>{{ticket.name}}</h3>
      <h6>{{time-since-submitted ticket.when_added}}</h6>
    </div>

{{/each}}

<!-- {{#link-to 'statistics'}}View today's statistics{{/link-to}} -->
